.Dialogs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    background-color: #0C1B36;
    height: 45em;
    margin-top: 1em;
}
.dialogs1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17.5%;
    min-width: 7rem;
    border-right: 1px solid silver;
    padding-top: 0.5rem;
}
#dialogs__nav {
    display: flex;
    flex-direction: column;
    width: 94%;
}
#dialogs__nav a {
    border-bottom: 1px solid silver;
    text-decoration: none;
    padding: 1.5rem 1rem;
    font-weight: 900;
    font-size: 1.2rem;
    width: 100%;
} 
#dialogs__nav a.active {
    color: #42E2B8;
}
.dialogs2 {
    padding-top: 1em;
    padding-left: 1em;
    width: 70%;
}
.message {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}
.message img {
    display: block;
    width: 4rem;
    height: 4rem;
}
.text-message {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    background-color: #e6e5e5;
    border: none;
    border-radius: 10px;
}
.text-message span {
    margin-left: 1rem;
    margin-right: 1rem;
    color: #000;
    font-size: 0.9rem;
}
.hidden {
    display: none;
  }
