.NavBar {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #0C1B36;
    height: 45em;
    padding-top: 0.5rem;
    margin-top: 1rem;
}
.NavBar h3 {
    font-size: 1.2rem;
    color: #191919;
}
#navBar {
    display: flex;
    flex-direction: column;
    width: 94%;
}
#navBar a.active {
    color: #42E2B8;
}
#navBar a {
    border-bottom: 1px solid silver;
    text-decoration: none;
    padding: 1.5rem 1rem;
    font-weight: 900;
    font-size: 1.2rem;
    width: 100%;
}
