.NavBar {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    background-color: #6A994D;
    height: 45em;
    padding-top: 0.5em;
    padding-left: 1em;
    margin-top: 1em;
}
.NavBar h3 {
    font-size: 1.2em;
    color: #191919;
}
a {
    padding-left: 0.4em;
    width: 92%;
    text-decoration: none;
}
a:hover {
    background-color: #dbe9d3;
}
.NavBar a:focus {
    color: red;
}