* {
  box-sizing: border-box;
  color: #f6f8f7;
}

body {
  background: #04142F;
  color: antiquewhite;
}
.App {
  margin-left: 15%;
  margin-right: 15%;
}
.Gridd {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 1em;
}